body {
  font-family: Arial;
  background: #f4f6f9;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

button {
  padding: 10px 15px;
  border: none;
  background: #1976d2;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.alerta-severa {
  background: #c62828;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
}

.alerta-normal {
  background: #fff3cd;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
}